/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 0.5em 0em;
    z-index: 500;
    width: 100%;
  }
  
  .logo {
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }

  .logo-img {
    width: 50px;
    height: auto;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 1em;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    background: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: rgb(219, 35, 35);
      width: 100%;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }

    img {
        size: 30%; 
    }
  }

  
main {
    h1 {
      position: block;
      text-align: center;
      margin-top: 200px;
      
      position: relative;
      top: 0;
      left: 0;
      color: white;

      }
}

.container {
  margin: 0;
  padding: 0;
}

.home_bg {
  width: 100%;  /* Ensures image is responsive */
  height: auto;
  position: absolute;
  top: 0;
  filter: blur(5px);


}

.company_logo {

  display: grid;
  place-items: center;
  height: 100vh;


}

.logoo {
  z-index:50;
  border-radius: 20px;
}

.text-overlay {
  position: relative;
  /*top: 50%;   Centers text vertically */
  /*left: 50%; /* Centers text horizontally */
  /*transform: translate(-50%, -50%); /* Offsets to perfectly center */
  color: white;  /* Text color */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Optional: make text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional: adds shadow for readability */
}








/* Footer Styles */
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 5px 0;
    text-align: center;
    align-items: baseline;
  }
  
  footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  footer h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  footer p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer ul li {
    font-size: 14px;
    margin: 5px 0;
  }
  
  footer .social-links {
    margin-top: 20px;
  }
  
  footer .social-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  footer .social-links a:hover {
    text-decoration: underline;
  }


  